#main-accordion > .panel > .panel-heading a {
	display: block;
}

.train-attrib-ro {
	border: none;
	outline: none;
}

.route-station-list {
	list-style-type: none;
	padding: 0;
}

.route-station-list li {
	margin: .5em;
	padding: .5em;
	width: auto !important;
	height: auto !important;
}

.route-station-list li.ui-state-default {
	cursor: default;
}

.flag-inline {
	height: 2em;
}

#loading-progress {
	margin: 1em 0;
}
